<html>
    <head>
        <title>Feature Flag Manager</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <h1>Feature Flag Manager</h1>

        <div class="flex gap-2">
            <button
                class="rounded bg-sky-500 hover:bg-sky-700"
                hx-post="/counter"
                hx-target="#counter"
            >
                Increase counter
            </button>

            <button
                class="rounded bg-sky-500 hover:bg-sky-700"
                hx-post="/restart-counter"
                hx-target="#counter"
            >
                Restart counter
            </button>
        </div>
        <p>Counter: <span id="counter">0</span></p>
    </body>
</html>
